<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{template::head}" />
  <body class="w3-light-grey">
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <div class="w3-row-padding">
            <div class="w3-quarter"  th:replace="~{template::menu}" />

            <div class="w3-threequarter">
                <div class="w3-panel w3-gray w3-center">
                    <h3 class="w3-text-dark-gray" style="text-shadow:1px 1px 0 #444">
                        <b th:text="${title}" />
                    </h3>
                </div>

                <p>Se ha lanzado un nuevo backup asociado a <span th:text="${backup.name}">backup</span></p>
  				<p>Se redirigirá automáticamente al inicio en <span id="timeToDie">10</span> segundos.</p>
            </div>
        </div>
    </div>

    <footer class="w3-display-container w3-gray w3-margin-top" style="height:50px;" th:replace="~{template::footer}" />
    <script type="text/javascript">
	  //<!--
	    function redirectToIndex() {
	      let index = parseInt($('#timeToDie').text()) - 1;
	      if (index > 0)  $('#timeToDie').text(index);
	      else window.location.href = "/";
	    }
	    setInterval(redirectToIndex, 1000);
	  //-->
	</script>
  </body>
</html>