<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{template::head}" />
  <body class="w3-light-grey">
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <div class="w3-row-padding">
            <div class="w3-quarter"  th:replace="~{template::menu}" />

            <div class="w3-threequarter">
                <div class="w3-panel w3-gray w3-center">
                    <h3 class="w3-text-dark-gray" style="text-shadow:1px 1px 0 #444">
                        <b th:text="${title}" />
                    </h3>
                </div>

                <div th:if="${backups==null or backups.empty}">
					<p>
						No se han creado backups, para verlos deberá crear alguno desde la opción Crear nuevo.
					</p>
				</div>

				<article th:each="backup : ${backups}">
	                <div class="w3-panel w3-display-container w3-gray" style="margin-bottom: 0px;">
	    				<span th:attr="onClick=|location.href = '/execBackup/${backup.id}'|" class="w3-button w3-display-right">
	      					<i class="fa fa-play w3-right w3-xxxlarge" title="Lanzar backup"></i>
	    				</span>
	    				<h2 style="cursor: pointer; text-transform: uppercase;" th:attr="onClick=|$('#targetBackup${backup.id}').toggleClass('w3-hide');|" th:text="${backup.name}" />
	  				</div>
	  				<div th:id="'targetBackup'+${backup.id}" class="w3-container w3-card-4 w3-white w3-hide" style="position: relative;">
						<p>
							<div class="w3-display-topright w3-margin">
								<a th:href="@{/updateBackup/{id}(id=${backup.id})}"><i class="w3-xlarge fa fa-pencil-square-o w3-hover-text-orange"></i></a>
								<a th:href="@{/deleteBackup/{id}(id=${backup.id})}"><i class="w3-xlarge fa fa-trash w3-hover-text-red"></i></a>
							</div>

							<div class="w3-row">
								<div class="w3-container w3-quarter w3-right-align">
									<strong>Nº de backups máx.</strong>
								</div>
								<div class="w3-container w3-quarter" th:text="${backup.nBackupsMax}" />
								<div class="w3-container w3-quarter w3-right-align">
	          						<strong>Sensor MQTT propio</strong>
	        					</div>
	        					<div class="w3-container w3-quarter" th:text="${backup.swSensorMQTT} ? 'Sí' : 'No'" />
							</div>
							<div class="w3-container w3-large" th:text="${backup.description}" />
						</p>
	  				</div>
				</article>
            </div>
        </div>
    </div>

    <footer class="w3-display-container w3-gray w3-margin-top" style="height:50px;" th:replace="~{template::footer}" />
  </body>
</html>